nav {
  font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 700;
}

.lora {
  font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.pacifico {
  font-family: Pacifico, Helvetica, Arial, sans-serif;
}
