/* BRAND STYLES */
:root {
  --primary-color-light: #d20001;
  --primary-color-dark: #900000;
  --secondary-color: #f1c816;
  --accent-color: #9db198;
  --text-color-light: #504644;
  --text-color-dark: #333333;
  --white: #FAFAFA;
  --font-title: 'Merriweather Sans', sans-serif;
  --font-body: 'Montserrat', sans-serif;
}

/* Global */
html,
body {
  font-family: "Maven Pro", "Segoe UI", Helvetica, Arial, sans-serif;
    background-color: #fbfbfb;
}
  font-family: var(--font-body);
  font-size: 1.06em;
  color:  var(--text-color-dark);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}

/* Navbar */
.navbar {
  padding: 0.2em 1em;
  background-color: var(--white);
}

.navbar-dark .navbar-nav .nav-link {
  font-weight: bold;
  color: var(--text-color-dark);
  font-family: var(--font-title);
}

.navbar-nav .nav-item .btn {
  width: 8em;
  color: var(--primary-color-light);
}

.navbar-nav .search-box {
  border: 2px solid var(--text-color-light);
}
.navbar-nav .search-box .form-control,
.navbar-nav .search-box button
 {
  border: none;
  color: var(--text-color-dark);
}
.navbar-nav .search-box button
 {
   border-radius: 0;
  border-left: 1px solid var(--text-color-light);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: var(--primary-color-light);
}

/* Buttons */
.btn {
  border-radius: 2px;
  border: 2px solid var(--primary-color-light);
  color: var(--primary-color-light);
  font-family: var(--font-title);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.btn-outline-success:hover,
.btn-outline-success:active {
  color: var(--white) !important;
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}
.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}
.btn-outline-success.focus, .btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem var(--primary-color-light);
}

.carousel-item .btn {
  border-radius: 2px;
  color: var(--white) !important;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  font-family: var(--font-title);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.carousel-item .btn-outline-success:hover,
.carousel-item .btn-outline-success:active {
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  color: var(--white);
}

.carousel-item .btn-outline-success:not(:disabled):not(.disabled).active,
.carousel-item .btn-outline-success:not(:disabled):not(.disabled):active,
.show>.carousel-item .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border: 2px solid var(--secondary-color);
}
.carousel-item .btn-outline-success.focus, .carousel-item .btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem var(--secondary-color);
}

a:hover {
  color: var(--primary-color-dark);
  text-decoration: underline;
}

/* Hero */
.container-fluid {
  padding: 0;
}

a.carousel-control-prev,
a.carousel-control-next {
  top: 10%;
}

.carousel.slide {
  height:93vh;
}
.carousel-item {
  max-width: 100%;
  width: 100%;
  height:93vh;
  max-width: none;
}
.carousel-caption {
  bottom: 25%;
}
.carousel-caption h5 {
  margin-bottom: 4em;
  font-size: 1.4em;
}

.helpline {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: var(--primary-color-light);
}
.helpline h5 {
  margin: 0;
  align-self: center;
  color: var(--white);
  font-family: var(--font-title);
}

/* Main */
.info {
  padding: 4em 0;
  background: url('../images/will-o-253882-unsplash.jpg') top center/cover no-repeat;
}

.card {
  margin: 1em 0;
}

.card .underline {
  margin-bottom: 1.4em;
  height: 0.2em;
  width: 20%;
  background-color: var(--primary-color-light);
}

.card {
  padding: 0.8em;
  border-radius: 2px;
  background-color: rgba(250, 250, 250, 0.9);
  box-shadow: 0px 2px 6px 1px rgba(67, 67, 67, 0.6);
}

.card.one {
  height: 390px;
}

.card.two {
  height: 200px;
}

.card-title {
  font-family: var(--font-title);
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.card-link {
  color: var(--primary-color-light);
  font-size: 0.95em;
}

.card-title.form-title {
  text-align: center;
}

.form-group {
  margin: 0;
  margin-top: -1.2em;
}
.lp-form-group{
  padding: 25px 0px 10px 0px;
}

.form-btn {
  margin-top: 0.4em;
  color:  var(--text-color-dark);
  border-radius: 2px;
  border: 2px solid var(--text-color-dark);
  background-color: rgba(250, 250, 250, 0.5);
}

.form-row {
  margin: 0;
  padding: 0;
}

.form-control {
  border-radius: 2px;
  border: 2px solid var(--text-color-dark);
  background-color: rgba(250, 250, 250, 0.5);
}

/* Call to action */
.call-to-action {
  height: 100px;
  background: var(--white);
  box-shadow: 0px 5px 6px -1px rgba(110,109,110,0.4);
}

.call-to-action h5 {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

.call-to-action .btn {
  margin: 0 0.6em;
}

/* Footer */
footer {
  padding: 2em;
}

footer .first ul {
  margin: 0;
  padding: 1em 0 0 0;
  font-size: 0.8em;
}
footer .first li {
  list-style: none;
  margin-top: 0.4em;
}

footer .second h6 {
  text-align: center;
}
footer .second .subscribe {
  margin: 0;
  padding: 0;
  margin-top: 1em;
  border: 2px solid var(--primary-color-light);
}
footer .second .subscribe button {
  padding: 1px 6px;
  width: 2em;
  border: none;
  border-radius: 0;
  color: var(--white);
  background-color: var(--primary-color-light);
}
footer .second .subscribe .input-field {
  border: none;
  width: 100%;
}
footer .second .social {
  margin-top: 2em;
}
footer .second .social .fab,
footer .second .social .fas {
  color: var(--primary-color-light);
  font-size: 1.2em;
}

footer .third {
  padding-left: 16em;
}
footer .third h6.order-3{
  margin: 0;
}
.mn_hd_1{background-color: #bc2416;}
.hd_left{float: left;}
.hd_rite{
    float: right;
    margin-top: 14px;
}

.para_hd{
    margin-top: 16px;
    color: #fff;
    font-size: 18px;
}

.lk_hd {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #333333;
    text-align: center;
    border-radius: 50%;
    line-height: 1.8;
    margin-right: 8px;
    transition: all 0.3s ease-out;
}

.soc_icn{color: #fff;
    font-size: 14px;
    border: 0 solid #FFF;
    background-clip: padding-box;
}
.soc_icn:hover{
    color: #fe3c47;
    transition: all 0.3s ease-out;
}
.nav_mn{background-color: #fff;}
.logo_1{width: 170px;}
.nav_hd_1{padding: 20px 0px;}
.hd_ul{width: 100%;}
.hd_li{width: 25%;}
.hd_an{text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}
.hd_an:hover{
    color: #bc2416;
    transition: all 0.3s ease-out;
}

.hd_sec{display: contents;}
.hd_btn{background-color: #bc2416;
    color: #fff;
}
.hd_btn:hover{background-color: #e21e0c;}
.banner {
    background-image: url("../images/banner/banner_2.jpg");
    min-height: 600px;
    background-position: center;
    background-size: cover;
    top: 0;
}
.ban_1{text-align: center;
    color: #fff;
    padding-top: 170px;
}
.ban_h1{    font-size: 50px;
    font-weight: bold;
}
.ban_pa{font-size: 22px;
    font-weight: 400;}
.main_row_1{padding: 50px 0px;  }
.why_hd{text-align: center;}
.why_do{font-weight: bold; color: #343434;}
.wh_img{width: 100px;}
.wh_mn_di{text-align: center; }
.wh_pa{
    font-size: 30px;
    font-weight: 600;
}
.wh_mn_2{padding: 80px 0px;}
.wh_pa{
    font-size: 22px;
    font-weight: 600;
    color: #4c4c4c;
    margin-top: 10px;
}
.wh_im_bd{width: 110px;}
.ar_an{
    width: 30px;
    float: left;
    margin-left: -8px;
}
.ar_sec_1 a{
    text-decoration: none;
    font-size: 17px;
    color: #343434;
    font-weight: 500;
}
.ar_sec_1 a:hover{
    color: #bc2416;
}
.ar_an_sec{margin: 20px 0px;}
.scrl_hd{background-color: #fbfbfb; }
.art_im_hg{width: 300px; float: left;}
.main_row_2{padding: 80px 0px;}
.fa_ar{color: #bc2416; font-size: 22px; margin-right: 5px;}
.art_mn_dv{overflow: hidden; padding: 30px 30px 0px;}
.ar_hre{margin: 15px 0;}
.foot_hd{color: #fff;}
.foot_pa_1{color: #fff; margin: 30px 0px 10px;}
.ft_int{
    padding: 10px 170px 10px 5px;
    /* color: #333; */
    background-color: #444;
    border: none;}
.ft_mn_dv{margin: 20px 0px;}
.foot_btn_1{
    background-color: #bc2416;
    color: #fff;
    padding: 10px 25px;
}
.foot_btn_1:hover{background-color: #e04132;}
.ft_en_dv{float: left;
    color: #bc2416;
    font-size: 22px;
    margin-right: 15px;
    margin-top: 3px;
}
.ft_mn_dv_1{margin: 30px 0px 10px;}
.ft_mn_dv_1 a{
    text-decoration: none;
    color: #fff;
}
.ft_mn_dv_1 a:hover{color: #bc2416; transition: all 0.3s ease-out;}
.ft_mn_dv_2 a {
    text-decoration: none;
    color: #fff;
}
.ft_mn_dv_2 a:hover{color: #bc2416; transition: all 0.3s ease-out;  }
.ft_mn_dv_2{margin: 25px 0px 20px 0px;}
.foot_dwn_mn{
    padding: 10px 0px;
}
.ft_mg_dw{width: 100px;}
.ft_dw_pa_1{
    font-size: 14px;
    color: #333;
    margin-top: 8px;
    margin-bottom: 0px;
}
.ar_sc_mv{
    width: 350px;
    float: right;
    max-height: 387px;
    overflow-y: scroll;
}
.ar_img_1{width: 300px;}